.header {
  padding: 1rem 2rem;
  top: 6px;
}

.header .btn-outline-dark,
.header .btn-primary {
  border-radius: 30px;
  padding: 6px 30px;
  font-size: 16px;
}

.header .btn-outline-dark {
  margin-left: 1100px;
  margin-right: 20px;
}

.header .btn-primary {
  margin-left: 10px;
  margin-right: 20px;
}




.main-content {
  background-color: #f8f9fa; /* Optional background color */
}

.main-content h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 30px;
}

.main-content p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.main-content video {
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.main-content .btn-dark {
  border-radius: 20px; /* Rounded button */
  padding: 6px 20px;
  font-size: 16px;
  font-weight: bold;
}
